<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>

<div class="container">


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2> Address Information </h2>
    <h6 th:text=" 'ID ' +  ${address.id}" ></h6>
    <h6 th:text=" 'To Address : ' +  ${address.toAddress}" ></h6>
    <h6 th:text=" 'Address Line  : ' +  ${address.addressLine1} + ' ' +  ${address.addressLine2}" ></h6>
    <h6 th:text=" 'City  : ' +  ${address.city}" ></h6>
    <h6 th:text=" 'State  : ' +  ${address.state}" ></h6>
    <h6 th:text=" 'Country  : ' +  ${address.country}" ></h6>
    <h6 th:text=" 'ZipCode/PostalCode  : ' +  ${address.pincode}" ></h6>
    <h6 th:text=" 'Address Type  : ' +  ${address.addressType}" ></h6>
<!--    <h6 th:text=" 'Present Address  : ' +  ${address.isPresentAddress}" ></h6>-->
    <label > Present Address <input type="checkbox" th:field="${address.isPresentAddress}" class="form-check-input" readonly/></label>
</div>

</body>
</html>